:root {
  --color-1: #4A3317;
  --color-2: #E5D494;
  --color-3: #B5B0A1;
}

@font-face {
  font-family: LeckerliOne;
  src: url(fonts/LeckerliOne-Regular.ttf);
}
@font-face {
  font-family: Magra;
  src: url(fonts/Magra-Regular.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-1);
  background-image: url('./img/background.png');
  background-size: cover;
}